* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

:root {
    --bg-color: #ffffff;
    --bor: 2px solid #000000;
    --borderRadio: 8px;
    --colorLetter: #000000cc;
    --colorLetterHover: #000000;
    --colorLetterBtnHover: #ffffff;
    --timeHover: .6s;
    --widthContainer: 80%;
    --heightSection: 85vh;
    --fontSizeTitulo: 35px;
    --fonSizeParrafos: 19px;
    --fontSizeBtn: 19px;
    --translateXAnimation:-70px;
}


body {
    background-color: var(--bg-color);
}

html {
    scroll-behavior: smooth;
}

/*
SECTION HOME
*/
.portafolio {
    position: relative;
    height: 460vh;
    border: var(--bor);
}

.to_top {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(../icons/icon-to-top.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    cursor: pointer;
    position: fixed;
    bottom: 800px;
    z-index: 8000;
    right: 30px;
    opacity: 0;
    box-shadow: 0px 1px 3px 0px #000000;
    transition: all 1s;
}

.to_top_active {
    bottom: 30px;
    opacity: 1;

}

.menu {
    display: flex;
    align-items: center;
    padding: 20px;
    position: sticky;
    border-bottom-left-radius: var(--borderRadio);
    border-bottom-right-radius: var(--borderRadio);
    box-shadow: 0px 1px 2px 0px black;
    top: 0px;
    background-color: var(--bg-color);
    z-index: 1000;
    justify-content: space-around;
}
.figure_theme{
    width: 30px;
    height: 30px;
    background-image: url(../icons/icon-moon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
   
}
.menu_title {
    color: var(--colorLetter);
    cursor: pointer;
    font-size: 28px;
    transition: color var(--timeHover);

}

.menu_title:hover {
    color: var(--colorLetterHover);
}

.item_a {
    color: var(--colorLetter);
    transition: all var(--timeHover);
    font-size: 19px;
    position: relative;
}

.element_before {
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: #000000;
    left: 0px;
    bottom: -3px;
    transition: var(--timeHover);
}

.element_before_active {
    width: 100%;
}

.item_a:hover{
    color: #0000ff;
}



.menu_container {
    width: 82.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu_list {
    display: flex;
    align-items: center;
    gap: 35px;
    justify-content: flex-end;
}

.section {
    scroll-margin-top: 100px;
    margin: 40px auto;
    transition: 1s;
    width: var(--widthContainer);
    height: var(--heightSection);
    margin-bottom: 150px;
}

.home {
    width: var(--widthContainer);
}

.title {
    color: var(--colorLetter);
    font-size: var(--fontSizeTitulo);
    text-align: center;
    /* border-bottom: var(--bor); */
}

.home_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 85%;
    align-items: center;
}

.person_pinture {
    background-image: url(../img/foto_portafolio.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 5px 8px 0px black;
    /* animation: animationImg 4s infinite alternate; */
}


.person {
    width: 55%;
    height: 70%;
}

.person_name {
    font-size: var(--fontSizeTitulo);
    color: var(--colorLetter);
    margin-bottom: 10px;
}

.person_description {
    font-size: var(--fonSizeParrafos);
    margin-bottom: 60px;
    margin-top: 35px;
    line-height: 1.4;
    color: var(--colorLetter);
}

.slider {
    font-size: 25px;
    color: var(--colorLetter);
}

.person_ocupation {
    font-size: 20px;
    color: var(--colorLetter);
    position: relative;
}

.person_ocupation::before {
    content: " ";
    height: 100%;
    width: 100%;
    bottom: 0px;
    left: 0px;
    border-left: var(--bor);
    position: absolute;
    background-color: #ffffff;
    animation: sliderOcupation 4s steps(12) infinite;
}

.btn_about_my {
    padding: 7px 20px;
    border-radius: var(--borderRadio);
    color: var(--colorLetter);
    box-shadow: 1px 1px 3px 0px #000000;
    transition: var(--timeHover);
    font-size: var(--fontSizeBtn);
}

.btn_about_my:hover {
    background-color: var(--colorLetter);
    color: var(--colorLetterBtnHover);
}

/*
SECTION ABAUT MY
*/
.abaut_my {
    width: var(--widthContainer);
}

.abaut_my_container {
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.abaut_my_info {
    width: 60%;
}

.abaut_my_image {
    background-image: url(../img/foto_portafolio.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 5px 8px 0px black;
    /* animation: animationImg 4s infinite alternate; */
}

.abaut_my_descrption {
    margin-bottom: 35px;
    font-size: var(--fonSizeParrafos);
    color: var(--colorLetter);
}

.abaut_my_title {
    margin-bottom: 20px;
    color: var(--colorLetter);
    /* border-bottom: var(--bor); */
    width: max-content;
    padding-bottom: 2px;
}

.abaut_my_data {
    margin-bottom: 10px;
    color: var(--colorLetter);
    font-size: 17px;
}

.abaut_my_dowload_cv {
    padding: 7px 20px;
    border-radius: var(--borderRadio);
    display: inline-block;
    color: var(--colorLetter);
    box-shadow: 1px 1px 3px 0px black;
    transition: var(--timeHover);
    margin-top: 40px;
    font-size: var(--fontSizeBtn);
}

.abaut_my_dowload_cv:hover {
    background-color: var(--colorLetter);
    color: var(--colorLetterBtnHover);
}

/*
SECTION SKILLS
*/

.skills {
    width: var(--widthContainer);
}

.skills_title2 {
    text-align: center;
    margin-bottom: 50px;
    /* border-bottom: var(--bor); */
    width: max-content;
    color: var(--colorLetter);

}

.skills_container_lenguages {
    display: flex;
    width: 100%;
    margin: 0px auto;
    justify-content: space-between;
    /* margin-bottom: 40px; */
}

.container_info{
    margin-top: 65px;
    align-items: center;
}
.container {
    height: 300px;
    width: 35%;
    border-radius: var(--borderRadio);
    box-shadow: 1px 1px 3px 0px #000000;
    margin-top: 60px;
    padding: 15px;
}

.skill_title {
    margin: 0px auto;
    margin-bottom: 20px;
    text-align: center;
    color: var(--colorLetter);
    /* border-bottom: var(--bor); */
    width: max-content;
}

.list_item_li {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--colorLetter);

}

.skill_li_bland{
    font-size: var(--fonSizeParrafos);
}
.item_figure {
    width: 30px;
    height: 30px;
    background-image: url(../icons/icon-checked.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}

.skills_bland {
    margin-top: 70px;
} 

/*
SECTION PROJECTS
*/

.projects{
    width: var(--widthContainer);
    margin: 0px auto;
    
}
.title_projects{
    margin-bottom: 55px;
}
.filter_projects{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin: 0px auto;
    margin-bottom: 40px;
}

.list_filter{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

}

.filter_button{
    padding: 7px 20px;
    font-size: var(--fontSizeBtn);
    background-color: var(--bg-color);
    border: none;
    border-radius: var(--borderRadio);
    color: var(--colorLetter);
    box-shadow: 1px 1px 3px 0px black;
    transition: var(--timeHover);
    cursor: pointer;

}
.filter_button:hover {
    background-color: var(--colorLetter);
    color: var(--colorLetterBtnHover);
}

.grid_projects{
    width: 100%;
    margin-top: 100px;
    display: grid;
    gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,minmax(230px,270px)) ;
}
.card{
    height: 250px;
    border-radius: var(--borderRadio);
    box-shadow: 1px 1px 3px 0px #000000;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}
.card_img_project{
    width: 90%;
    border-radius: var(--borderRadio);
    height: 78%;
    object-fit: cover;
    margin: 0px auto;
    background-image: url(../img/foto_portafolio.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 1px 3px 0px #000000;
}
.card_name_project{
    text-align: center;
    color: var(--colorLetter);
    font-size: var(--fonSizeParrafos);
}
.card_info{
    position: absolute;
    width: 100%;
    border-radius: var(--borderRadio);
    height: 0%;
    opacity: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.365);
    color: var(--bg-color);
    transition: all var(--timeHover);
    bottom: 0px;
    left: 0px;
}
.card_info_decription{
    text-align:justify;
    width: 80%;
    margin: 20px auto;
}
.card_info_see{
    width: 90%;
    /* margin: 90px auto; */
    color:var(--colorLetter);
    padding: 8px 35px;
    text-align: center;
    background-color: var(--bg-color);
    border-radius: var(--borderRadio);
    font-size: var(--fontSizeBtn);
    box-shadow: 1px 1px 3px 0px rgb(0, 0, 0);
    font-size: var(--fontSizeBtn);
    opacity: 0;
    display: block;
    transition: var(--timeHover);
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);

}
.card:hover > .card_info{
    height: 100%;
    pointer-events: unset;
    opacity: 1;
}
.card:hover > .card_info > a{
    opacity: 1;
}










.img{
    width: 35%;
    height: 80%;
    transition: var(--timeHover);
    border-radius: 50%;
}
.img_figure_person{
    transform: translateX(var(--translateXAnimation));
    opacity: 0;
}
/* .img_figure_abaut{
    opacity: 0;
} */
.animationImg{
    opacity: 1;
    transform: translateX(0px);

}




/*
SECTION KEYFRAMES
*/
@keyframes sliderOcupation {

    40%,
    60% {
        left: 100%;
    }

    100% {
        left: 0%;
    }
}
